body {}

.container {
    background-color: #84898f;
    background-image: url(../media/background\ 1.jpg);
    background-position: center;
    background-size: cover;
    height: 30rem;
    width: 40rem;
    margin: 3rem auto;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.img1 {
    height: 2.5rem;
    width: 7.5rem;
    margin-left: 2rem;
    margin-right: 19rem;
}

.p1 {
    color: #84898f;
    margin-left: 1rem;
    font-size: small;
}

.sub-navbar {
    font-family: sans-serif;
    display: flex;
}

.h1 {
    margin: 5rem auto;
    width: 15rem;
    height: 2rem;
    color: white;
    /* color: #ced1d3; */
    font-weight: bolder;
    font-size: xx-large;
}

.p2 {
    color: white;
    font-size: larger;
    font-family: sans-serif;
    /* margin: auto; */
}

.words {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    margin-top: -3rem;
}

.p3 {
    margin-top: 1rem;
    margin-left: 14rem;
    font-family: sans-serif;
    color: white;
    font-size: small;
}